* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  text-transform: capitalize;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.container {
  background: url("./air-494020_1280.jpg");
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 6.25rem;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  gap: 3.25rem;
  width: 50%;
  height: max-content;
  border-radius: 1rem;
  /* background-color: rgba(255, 255, 255, 0.3); */
  backdrop-filter: blur(6px);
  /* background: radial-gradient(circle at 50% -18%, orange 55%, #fff 59%); */
}

.hp {
  align-self: flex-end;
  border-radius: 8px;
  padding: 10px;
}

.img_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.power_types span {
  border-radius: 8px;
  padding: 10px;
}

img {
  width: 50%;
}

.power_types {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.status {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.status > div {
  text-align: center;
}

button,
h1 {
  padding: 10px 20px;
  outline: transparent;
  border-radius: 10px;
  /* background-color: #1242d0bd; */
  border: transparent;
  font-size: 1rem;
  cursor: pointer;
}
